{% extends 'base_generic.html' %}
<title>{% block title %}Lista de meseros{% endblock %}</title>
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Nombre</th>
      <th scope="col">Nacionalidad</th>
      <th scope="col">Edad</th>
        <th scope="col">DNI</th>
    </tr>
  </thead>
  <tbody>
{% for elemneto in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ elemneto.nombre }}</td>
      <td>{{ elemneto.nacionalidad }}</td>
      <td>{{ elemneto.edad }}</td>
      <td>{{ elemneto.dni }}</td>
    </tr>
{% endfor %}

  </tbody>
</table>
{% endblock %}
